
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table border=2 >
        <tr>
            <td>
               <a href="{{ url_for('index') }}">index</a>
            </td>        


            <td>
               <a href="{{ url_for('listLoads') }}">load</a>
            </td>

            <td>
               <a href="{{ url_for('listPanels') }}">panel</a>
            </td>        
 
            <td>
               <a href="{{ url_for('listBatterrys') }}">batterry</a>
            </td>

            <td>



               <a href="{{ url_for('listPowerEnergys') }}">powerEnergy</a>
            </td>




        </tr>
    </table>   

    <div class="container">
        <h1 class="my-4">solar calc </h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
