{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('createPanel') }}" class="btn btn-primary mb-3">Create New Panel</a>

    totalPower1 = {{ totalPower1 }}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                {% for field in fields %}
                    <th>{{ field.capitalize() }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for panel in panels %}
                <tr>
                    <td>{{ panel.id }}</td>
                    {% for field in fields %}
                        <td>{{ panel[field] }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('updatePanel', id=panel.id) }}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{{ url_for('deletePanel', id=panel.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    totalWattDay = {{ totalWattDay }}

    totalEnergyDay = {{ totalEnergyDay }}

    totalEnergyNight = {{ totalEnergyNight }}

    


{% endblock %}
